// Application level styles
// Code style hint: Consider using BEM (http://getbem.com/introduction/) for your app

.component-one {
    height: 100vh;
    margin: 50px;
    background-color: antiquewhite;
}

.component-two {
    background-color: chocolate;
}